.container {
  margin: 45px auto;
  max-width: 45vw;
  text-align: center;
}

.center {
  text-align: center;
}
@media screen and (max-width: 510px) {
  .container {
    max-width: 90vw;
  }
  .p {
    font-size: 8px;
  }
  .h2 {
    font-size: 14px;
  }
  .ul li {
    list-style: none;
    font-size: 10px;
  }
  .center {
    font-size: 17px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 710px) {
  .container {
    max-width: 80vw;
    
  }
  .p {
    font-size: 12px;
  }
  .h2 {
    font-size: 18px;
  }
  .ul li {
    list-style: none;
    font-size: 14px;
  }
  .center {
    font-size: 21px;
    padding-bottom: 30px;
  }
}
